@import "tailwindcss";

@theme {
  /* Fonts */
  --font-in-nunito : 'Nunito', sans-serif;
  --font-in-poppins: 'Poppins', sans-serif;

  /* Colors */
  --color-in-textbase: #23242A;
  --color-in-blue: #004569;
  --color-in-cyan-text: #00BEB4;

  /* Gradient */
  --color-in-cyan: #d6f5f1;
}


body {
  @apply font-in-poppins;
  @apply text-in-textbase;
}
